name: 'citrea-testnet4'

services:
  bitcoind:
    image: lightninglabs/bitcoin-core
    restart: unless-stopped
    networks:
      - shared
    volumes:
      - ./volumes/bitcoin:/home/bitcoin/.bitcoin
      - ./volumes/bitcoin/bitcoin-testnet4.conf:/home/bitcoin/.bitcoin/bitcoin.conf
    ports:
      - '18443:18443'
    healthcheck:
      test: curl --fail http://localhost:18443/rest/chaininfo.json || exit 1
      start_period: 120s
      interval: 30s
      timeout: 60s
      retries: 10
    logging:
      driver: 'json-file'
      options:
        max-size: '100m'
        max-file: '3'
    command: >
      bitcoind -conf=/home/bitcoin/.bitcoin/bitcoin.conf

  citread:
    depends_on:
      - bitcoind
    image: chainwayxyz/citrea-full-node:testnet
    restart: unless-stopped
    networks:
      - shared
    volumes:
      - ./volumes/citrea/testnet4:/mnt/task/citrea-db
    ports:
      - '8085:8085'
    logging:
      driver: 'json-file'
      options:
        max-size: '100m'
        max-file: '3'
    environment:
      - SEQUENCER_PUBLIC_KEY=0201edff3b3ee593dbef54e2fbdd421070db55e2de2aebe75f398bd85ac97ed364
      - SEQUENCER_DA_PUB_KEY=03015a7c4d2cc1c771198686e2ebef6fe7004f4136d61f6225b061d1bb9b821b9b
      - PROVER_DA_PUB_KEY=0357d255ab93638a2d880787ebaadfefdfc9bb51a26b4a37e5d588e04e54c60a42
      - NODE_URL=http://bitcoind:18443/
      - NODE_USERNAME=[NODE_USERNAME]
      - NODE_PASSWORD=[NODE_PASSWORD]
      - NETWORK=testnet
      - TX_BACKUP_DIR=
      - STORAGE_PATH=/mnt/task/citrea-db
      - DB_MAX_OPEN_FILES=5000
      - RPC_BIND_HOST=0.0.0.0
      - RPC_BIND_PORT=8085
      - RPC_MAX_CONNECTIONS=100
      - RPC_MAX_REQUEST_BODY_SIZE=10485760
      - RPC_MAX_RESPONSE_BODY_SIZE=10485760
      - RPC_BATCH_REQUESTS_LIMIT=100
      - RPC_ENABLE_SUBSCRIPTIONS=true
      - RPC_MAX_SUBSCRIPTIONS_PER_CONNECTION=10
      - SEQUENCER_CLIENT_URL=https://rpc.testnet.citreascan.com
      - INCLUDE_TX_BODY=false
      - SCAN_L1_START_HEIGHT=45496
      - SYNC_BLOCKS_COUNT=10
      - RUST_LOG=info
      - JSON_LOGS=1

networks:
  shared:
    external: true
    name: citrea-testnet-network
