<h1>{{salutation}}</h1>
<p>{{{body}}}</p>
<p></p>
<p>Thanks,</p>
<p>Your DFX team</p>
<p></p>
<p><img src='https://dfx.swiss/images/Logo_DFX/png/DFX_600px.png' height='100px' width='200px' /></p>
<p>{{date}} DFX AG</p>